html,
body {
  position: fixed;
  padding: 0;
  margin: 0;
  height: 100%;
  text-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.component {
  display: flex;

  /* Align horizontal */
  justify-content: center;

  /* Align vertical */
  align-items: center;
}

.prompt {
  height: 20vh;
  font-size: 6vh;
  align-items: end;
}

.hint {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
  width: 60vw;
  height: 10vh;
  font-size: 2vh;
  align-items: center;
  background-color: rgba(30, 80, 30, 0.3)
}

.choices {
  flex-direction: column;
}

.choices-row {
  flex-direction: row;
}

.choice {
  margin-top: 3vw;
  margin-bottom: 3vw;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 24vh;
  width: 30vw;
  font-size: 4vw;
}